@media (max-width: 500px) {
    .button {
        background-color: silver;
        font-size: 8px;
        width: 50px;
        min-height: 40px;
        margin: 2px 2px 2px 2px;
    }
}

@media (min-width: 501px) {
    .button {
        background-color: silver;
        font-size: 13px;
        width: 75px;
        min-height: 70px;
        margin: 4px 4px 4px 4px;
    }
}

.button {
    justify-content: space-evenly;
    border-radius: 10%;
}

.button:hover {
    cursor: pointer;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    }